.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: darkslategray; 
    border-bottom: 2px solid darkcyan;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.nav {
    margin-left: auto;
    margin-right: 40px;
}

.nav a {
    text-decoration: none;
    color: bisque;
    font-weight: bold;
    text-transform: uppercase;
}

.search-bar {
    position: relative;
    display: flex;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(117, 96, 71);
    pointer-events: none;
}

.search-bar input {
    border: 2px solid seashell;
    border-radius: 20px;
    padding: 10px 15px 10px 40px;
    width: 200px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logoa {
    height: 30px; 
    width: auto;
}

.company-namea {
    margin: 0; 
    color: burlywood; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px; 
    white-space: nowrap; 
}


.main-footer {
    background-color: rgb(75, 107, 107); 
    color: White;
    padding: 40px 60px;
    margin-top: 60px; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-links {
    display: flex;
    gap: 50px; 
}

.footer-links a {
    color: LightCyan; 
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}

.footer-links a:hover {
    border-bottom: 1px solid LightCyan;
    color: White;
}

.copyright {
    font-size: 12px;
    color: CadetBlue;
    margin-top: 10px;
}