/*
filename: apply.css
author: Kyla Solomon
created: Friday, 10 April 2026
last modified: Thursday, 16 April 2026
description: css style file for apply.html
*/ 

/* Universal selector for the font */
* { font-family: 'Poppins', sans-serif; }   


/* Heading  Styles */
h1 {
   color:darkgoldenrod;
   text-align: center;
   font-size: 2rem;
}

#subheading {
   text-align: center;
   font-size: 1rem;
}

header {
   background-color: #c4d9f8;
}

.subfield {
   box-shadow: none;
}

/* Background and Form Styles */
body{
  background-color: #f4f6fb;
  margin: 0;
  padding: 0;
}

.form {
   max-width: 670px;
   margin: 0 auto 0;
   background: #ffffff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
   background-color: #ffffff;
   border: none;
   border-radius: 2rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 1rem;
   margin: 1rem;
}

/* Input text data type Styles */
input[type="text"], .textarea, select {
   background: #f9fafd;
   border: 1px solid #d8dde9;
   padding: 5px 50px 5px 10px;
}

/* Name Section styles */
.name-field {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

/* Gender Section Styles */
.GenderList {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   box-shadow: none;
}

.GenderList label {
   cursor: pointer;
}

[type="radio"] {
   accent-color: #2e6fdb;
   cursor: pointer;
}

/* Address Section */
.AddressDetails {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

/* Contact info section */
.contactinfo {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

/* Checkbox List Styles for Job Skills */
.checkbox-list {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   row-gap: 5px;
   column-gap: 5px;
}

.checkbox-list label {
   display: flex;
   padding: 10px 10px;
   border: 1.5px solid lightgrey;
}

.checkbox-list label:hover {
   background-color: #c4d9f8;
   border-color: #1a4baa;
   cursor: pointer;
}

.checkbox-list [type="checkbox"]{
   accent-color: #2e6fdb;
   cursor: pointer;
}

/* Submit and Reset Button Stylea */
#SRButtons {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 10px;
   cursor: pointer;
}

[type="reset"], [type="submit"] {
   border: .5px solid;
   padding: 10px 10px;
   background-color: rgb(210, 241, 241);
   cursor: pointer;
}