/*
last modified 7/4/2026 10:03 PM by sheng yang

*/

h1 {
    color:#2455bd
}

/* This section of the style.css is for apply.html */
body .apply.htmlBody {
   background-color: #F5F5F5;
}


fieldset {
   background-color: #F5FEFF;
   border: 2px solid rgb(13, 72, 76);
   padding: 10px;
   margin: 10px;
}


h1, #subheadertext, legend {
   text-align: center;
}


#container{
   display: grid;
   grid-template-columns: 3, 1fr;
   grid-template-rows: 4, 1fr;
}


[type="checkbox"] + label {
   border: 1px;
   padding: 5px;
   margin: 2.5px;
   border-color: rgb(13, 72, 76);
   border-style: solid;
}


[type="checkbox"]:checked + label {
   background-color: rgb(186, 226, 228);
}
